* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
}

#maze-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('finalmaze/finalmaze/maze.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#character {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('finalmaze/finalmaze/character.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 50px;
    top: 50px;
}
