* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#maze-container {
    width: 100%;
    height: 100%;
    background-image: url('finalmaze/finalmaze/maze.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
